@{
    ViewBag.Title = "Página Inicial";
}
<div>
    <br />
</div>
<div class="jumbotron">
    <h2 class="text-center">
        Sistema Gerenciador de PDV
    </h2>
    <hr />
    <p  style="opacity=80%" class="text-center">
        <i>Sistema de Bilhetagem Eletrônica - SBE</i>
    </p>
</div>
<br />
<br />
<div class="row" style="padding-left=20%">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h2>
            Cadastrando novo PDV
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
            </svg>
        </h2>
        <p>
            Área reservada para cadastro de novos PDV.
        </p>
        <p>
            <a class="btn btn-default" href="/pdvplus/pdv/cadastro">
                Cadastro PDV &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Lista de PDVs Cadastrados
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
            </svg>
        </h2>
        <p>Para Visualizar, Editar ou excluir qualquer PDV que tenha cadastrado previamente</p>
        <p><a class="btn btn-default" href="/pdvplus/pdv/lista">Exibir Lista &raquo;</a></p>
    </div>
</div>
<hr />
<div class="row" style="padding-left=20%">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h2>
            Verificar Comunicação
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
            </svg>
        </h2>
        <p>Verificando última data de comunicação por PDV</p>
        <p><a class="btn btn-default" href="/pdvplus/arquivo/index">Comunicação &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Verificar Sequencial
        </h2>
        <p>Verifica, através do número sequencial a possibilidade de pulos ou formatação do aparelho **EM DESENVOLVIMENTO**</p>
        <p><a class="btn btn-default" href="/">Sequencial &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
</div>

