@{
    ViewBag.Title = "Lista";
    WebApplication5.Models.PDV pdv = ViewBag.pdv;
    
}

<h2 class="text-center">Exclusão de PDV</h2>

<form action="/pdv/excluirconfirma?id=@pdv.Id" method="post">
    <div class="form-group" >
        <label for="nome">Estação</label>
        <input readonly type="text" value="@pdv.Estacao" name="estacao" class="form-control" id="Codigo" placeholder="Estação" required>
    </div>
    <div class="form-group">
        <label for="PDV">PDV</label>
        <input readonly type="text" value="@pdv.PDV_nome" name="pdv" class="form-control" id="pdv" placeholder="Número do PDV">
    </div>
    <div class="form-group">
        <label for="data">Código</label>
        <input readonly type="text" value="@pdv.Codigo" name="codigo" class="form-control" id="data" placeholder="Código" required>
    </div>
    <button type="submit" class="btn btn-danger">Confirma Exclusão?</button>
</form>

